@import 'variables';

body{
    font-family: 'Manrope', sans-serif;
}

header{
    display: flex;
    padding-top: 40px;
    margin-bottom: 400px;
}

a {
    text-decoration: none;
    color: #fff;
}

a:link {
    color: #fff;
}

a:visited {
    color: #fff;
}


.container {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 10px;
    display: block;
    box-sizing: border-box;
}

.top-section__header-wrapper{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

}

.top-section{
        height: 800px;
        flex-shrink: 0;
        background: linear-gradient(253deg, #FFEE32 -13.48%, #D6D6D6 125.48%);
        margin: 0;
}



.top-section__header{
display: flex;
align-items: center;
text-align: center;
justify-content: space-between;
position: fixed;
    top: 0;
    z-index: 100;
    width: 64%;
}





.top-section__navigation-list{
    display: flex;
    flex-direction: row;
    width: 595px;
    justify-content: space-around;
}

.navigation-item__link{
    display: flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    border: 1px solid #FFF;
    &:hover {
            background-color: $corporate-black;
            border: none;
        }
}

.burger-menu{
    display: none;
}

.menu-btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 55px;
    right: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1;
}

.menu-btn>span,
.menu-btn>span::before,
.menu-btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition-duration: .25s;
}

.menu-btn>span::before {
    content: '';
    top: -8px;
}

.menu-btn>span::after {
    content: '';
    top: 8px;
}


.menubox {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: $corporate-black;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
}


.menu-item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}

.menu-item:hover {
    background-color: #CFD8DC;
}

#menu-toggle {
    opacity: 0;
}

#menu-toggle:checked~.menu-btn>span {
    transform: rotate(45deg);
}

#menu-toggle:checked~.menu-btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu-toggle:checked~.menu-btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu-toggle:checked~.menubox {
    visibility: visible;
    right: 0;
}






.top-section-title{
    color: #FFF;
        font-family: DynaPuff;
        font-size: 80px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-top: 500px;
}

.statistic-section{
    background: $corporate-black;
    height: 470px;
}

.statistic-section__content{
        width: 540px;
        padding-top: 110px;
}

.statistic-section__title {
    color: #FAEB49;

    font-family: DynaPuff;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 50px;
}

.statistic-section__description {
    color: #FFF;

    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 50px;
}

.statistic-section__lists-table{
    display: flex;
justify-content: space-between;
    .statistic-section__number {
            color: #FFF;
    
            font-family: DynaPuff;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    
    
        .statistic-section__desc {
            color: #FFF;
    
            font-family: Manrope;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
}

.statistic-section__decoration{
    width: 470px;
    height: 470px;
    overflow: hidden;
}

.statistic-section__decoration-elipse1{
    position: absolute;
    right: 0px;
    top: 20px;
}
.statistic-section__decoration-elipse2{
    position: absolute;
    right: 0px;
    top: 20px;
}

.statistic-section {
    display: flex;
    overflow: hidden;
        position: relative;
        z-index: 1;
}


.statistic-section--align{
        display: flex;
        justify-content: space-between;     
}




.project-section{
    background: $corporate-grey;
    padding-top: 80px;
   padding-bottom: 80px;
}

.project-section__card{
    background: #FFF;
    border-radius: 10px;
    padding: 20px;
}

.card1{
    width: 100%;
    height: 680px;
    margin-bottom: 50px;
}

.card-img-wrapper{
            overflow: hidden;
            width: 1010px;
            height: 498px;
            margin: auto;
            border-radius: 10px;
            position: relative;
}

.card-img-wrapper::before {
    content: "";
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #FFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
        background-image: url(../img/fi-rr-arrow-up.svg);
}



.project-section__img1{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}



.card1__titile{
    color: #565656;
        font-family: DynaPuff;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding-bottom: 40px;
        padding-top: 40px;
}

.card1__desc{
    width: 580px;
    color: #000;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
}

.project-section__mini-cards{
    display: flex;
    flex-direction: column;
    width: 296px;
    height: 545px;
    margin-right: 35px;
}

.mini-cards__wrapper{
                overflow: hidden;
                    width: 285px;
                    height: 338px;
                    margin: 10px auto;
                    border-radius: 10px;
                    position: relative;
}

.mini-cards__wrapper::before{
    
            content: "";
            position: absolute;
            top: 10px;
            right: 10px;
            width: 40px;
            height: 40px;
            background-color: #FFF;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: url(../img/fi-rr-arrow-up.svg);
        }


.mini-cards__title{
    color: #565656;
        font-family: DynaPuff;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-top: 20px;
        padding-bottom: 20px;
}

.mini-cards__desc{
    color: #000;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
}
.project-section__card--flex{
    display: flex;
    flex-direction: row;
}

.graphic-section{
height: 1220px;
background: $corporate-black;
}

.graphic-section__title{
    color: #FFF;
        font-family: DynaPuff;
        font-size: 80px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-top: 50px;
        padding-bottom: 50px;
}

.graphic-section__img{
    filter: grayscale(100%);
}

.grid-wrapper__first {
    width: 1055px;
    height: 414px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin: 10px auto;
}

.grid-wrapper__first::before{
    content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 75%;
        height: 75%;
        background: url('../img/Soft_Star.svg') center center no-repeat;
        background-size: contain;
        z-index: 1;
        transform: translate(20%, 20%);
}

.grid-wrapper--pseudo-2::before{
    content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 50%;
        background: url('../img/Butterfly.svg') center center no-repeat;
        background-size: contain;
        z-index: 1;
        transform: translate(50%, 50%);
}

.grid-wrapper--pseudo-3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    background: url('../img/Asterisk.svg') center center no-repeat;
    background-size: contain;
    z-index: 1;
    transform: translate(50%, 50%);
}

.graphic-section__img--resize-first{
width: 100%;
    height: auto;
    display: block;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  

}


.graphic-section__img--resize{
    width: 100%;
        height: auto;
        display: block;
        margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

.grid-wrapper {
    width: 514px;
    height: 414px;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px auto;
    position: relative;
}

.graphic-section__grid{
    display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
}

.grid-section1{
grid-area: 1 / 2 / 2 / 4;
}
.grid-section2{
grid-area: 2 / 2 / 3 / 3;
}
.grid-section3{
grid-area: 2 / 3 / 3 / 4;
}





.quote-section{
display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
}

.quote {
    color: #FFF;
    text-align: center;
    font-family: DynaPuff;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    z-index: 2;

}

.quote-wrapper {
    background-image: url(../img/Rectangle8.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 800px;
    position: relative;
}

.quote-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.big-button-wrapper{
    background-color: $corporate-black;
    height: 430px;
}

.big-button{
    height: 192px;
    width: 914px;
    border-radius: 139px;
    border: #fff solid;
}


.big-button--align{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
        padding-top: 30px;
}

.big-button__content{
    display: flex;
    flex-direction: column;
}

.big-button__padding{
    padding-top: 100px;
}

.big-button__title{
    color: #FFF;
        text-align: center;
        font-family: DynaPuff;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
}

.big-button__desc{
    color: #FFF;
        text-align: center;
        font-family: Manrope;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-align: left;
}


footer{
    background: $corporate-black;
    height: 100px;
    color: #fff;
    text-align: center;
}

.footer-section{
    display: flex;
    justify-content: center;
}

.social-media{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
}



@media screen and (min-width: 768px) and (max-width: 1200px) {

    header{
        margin-left: 20px;
    }

        .burger-menu {
            display: block;
        }

.navigation-item__link{
    width: 120px;
    margin-top: 20px;
    margin-left: 30px;
}

.top-section__navigation{
    display: none;
}
        
.top-section-title{
    padding-left: 20px;
    padding-bottom: 20px;
}
.statistic-section__content{
    padding-left: 20px;
}



.statistic-section__decoration-elipse1 {
    position: absolute;
    right: -150px;
    top: 20px;
}

.statistic-section__decoration-elipse2 {
    position: absolute;
    right: -150px;
    top: 20px;
}

.card1 {
    width: 700px;
    height: 680px;
}

.project-section__wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-img-wrapper {
    padding-top: 20px;
    overflow: hidden;
    width: 600px;
    height: 498px;
    margin: auto;
    border-radius: 10px;
    position: relative;
}

.card1__titile {
    margin-left: 40px;
}

.card1__desc {
    margin-left: 40px;
}

.card2,
.card3{
    width: 300px;
    height: 634px;
}

.card4{
    display: none;
}

.project-section__card--flex {
    display: flex;
    align-items: center;
    justify-content: center;
}


.graphic-section__title{
    margin-left: 20px;
}

.grid-wrapper__first{
    width: 704px;
    height: 414px;
}

.grid-wrapper{
    width: 345px;
    height: 325px;
}

.big-button__link{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $corporate-black;
}

.big-button {
    height: 150px;
    width: 714px;
}

footer{
    border: none;
}

}

@media screen and (min-width: 320px) and (max-width: 768px){

.top-section-title {
        font-size: 48px;
        padding-top: 400px;
    }

        .statistic-section__content {
            padding-top: 50px;
            padding-left: 20px;
        }

.burger-menu {
    display: block;
}

.navigation-item__link {
    width: 120px;
    margin-top: 20px;
    margin-left: 30px;
}

.top-section__navigation {
    display: none;
}

.statistic-section__title {
    font-size: 36px;
    padding-bottom: 10px;
}

.statistic-section__description {
    font-size: 15px;
}

.statistic-section__lists-table{
    display: flex;
justify-content: space-between;

    .statistic-section__number {
            font-size: 36px;
        }
    
    
        .statistic-section__desc {
            font-size: 15px;
        }
}


.statistic-section__decoration{
    width: 470px;
    height: 470px;
    overflow: hidden;
}

.statistic-section__decoration-elipse1{
    position: absolute;
    right: -250px;
    top: 20px;
}
.statistic-section__decoration-elipse2{
    position: absolute;
    right: -250px;
    top: 20px;
}

.statistic-section {
    display: flex;
    overflow: hidden;
        position: relative;
        z-index: 1;
}


.statistic-section--align{
        display: flex;
        justify-content: space-between;     
}


.project-section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.project-section__card {
    padding: 20px;
}

.card1 {
    width: 311px;
    height: 450px;
    margin-bottom: 20px;
    margin-left: 13px;
}

.card-img-wrapper {
    width: 270px;
    height: 270px;
}


.card1__titile {
    font-size: 32px;
    padding-top: 10px;
    padding-left: 20px;
}

.card1__desc {
    width: 250px;
    font-size: 12px;
    padding-left: 20px;
}

#no-mobile{
    display: none;
}


.mini-cards__wrapper {
width: 270px;
height: 270px;
}



.mini-cards__title {
    font-size: 32px;
        padding-top: 10px;
        padding-left: 20px;
}

.mini-cards__desc {
        font-size: 12px;
        padding-left: 20px;
        padding-right: 20px;
}

.project-section__card--flex {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
}


.graphic-section__grid {
display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 5px;
}

.grid-section1 {
    width: 350px;
    height: 350px;
    left: -335px;
}

.grid-section2 {
    width: 350px;
        height: 350px;
        left: -335px;
}

.grid-section3 {
    grid-area: 3 / 1 / 3 / 1;
    width: 350px;
        height: 350px;
        left: 15px;
}

.graphic-section{
height: 1500px;
}

.quote {
    font-size: 24px;
}


.big-button {
    height: 70px;
    width: 300px;
    border-radius: 139px;
    border: #fff solid;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}





.big-button__title {
    font-size: 20px;
}

.big-button__desc {
    font-size: 15px;
    padding-bottom: 30px;
}

.big-button__sun{
    height: 50px;
    padding-right: 20px;
    padding-bottom: 30px;
}


}